@using Microsoft.AspNetCore.Identity

@model Challange



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
	  <form  method="post" class="form-register" id="form-register">
      <div class="modal-content">
       
        <div class="modal-body">
         
		        
			  
											@Html.HiddenFor(m => Model.UserName, new {Value=@Model.UserName})
											@Html.HiddenFor(m => Model.UserId, new {Value=@Model.UserId})
												@Html.HiddenFor(m => Model.ChallangeId, new {Value=@Model.ChallangeId})
												@Html.HiddenFor(m => Model.ChallangeName, new {Value=@Model.ChallangeName})

							Czy na pewno chcesz usunąć kampanie @Model.ChallangeName ?
								
			
					


						

						

						
						
		        
		        
        </div>
        <div class="modal-footer">
			<div class="form-row">
									
							
						<button class="btn btn-danger "  type="submit" asp-action="Delete" asp-controller="Challanges" >Delete</button>
					 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						
						</div>
         
        </div>
      </div>
	  </form>
      
    </div>
  </div>

  

