@using BoardStats.Data
@using BoardStats.Data.ViewModels
@model MatchVM

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wizard-v6</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="~/css/style_form.css"/>





	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"  
          rel="stylesheet" type="text/css" />  

    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"  
          rel="stylesheet" type="text/css" />  
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"  
            type="text/javascript"></script>  
				<script type="text/javascript">
    $(document).ready(function () {
        $('#eh').multiselect({
            includeSelectAllOption: true
        });
        
    });

</script>



  
  <!-- Bootstrap -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap2.min.css" />



<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>


	<script type="text/javascript">
    $(function () {
        $('#eh2).multiselect({
            includeSelectAllOption: true
        });
        
    });
 
</script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />





  <!-- Font Awesome --> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="image/svg" href="~/images/shelf.jpg">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<script type="text/javascript" src="~/js/site.js"></script>
	

     <link rel="stylesheet" href="~/css/Style.css">


       <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.default-v2.min.css" />



</head>




<body>

	
      


<header>

                        <partial name="_NavbarPartial"/>

</header>

	<div class="container">
		
		<div class="wizard-v6-content">
			<div class="wizard-form">
		        <form class="form-register" id="form-register" asp-controller="Matches" asp-action="Create" method="post">
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			            
			            <section>
			                <div class="inner">
			                	<div class="form-heading">
			                		<h3>Statystyki</h3>
			                		
			                	</div>
						



								<div class="container3">
												<span class="label">Statystyki dotyczące gry</span>
												</div>
						@if(@Model.StatsVM.Any())
											{
								@for(int k =0; k<@Model.StatsVM.Count;k++)
								{
									
											<div class="form-holder24">
													
														<span class="label">@Model.StatsVM[k].Statistic</span>
														</div>
									
								<div class="form-holder">
								
							<input type="text"  class="form-control" name="model.StatsVM[@(k)].Value" asp-for="@Model.StatsVM[k].Value">
											</div>
												

													<input type="hidden"  class="form-control" name="model.StatsVM[@(k)].Statistic" asp-for="@Model.StatsVM[k].Statistic">
											<input type="hidden"  class="form-control" name="model.StatsVM[@(k)].StatsId" asp-for="@Model.StatsVM[k].StatsId">
											<input type="hidden"  class="form-control" name="model.StatsVM[@(k)].Category" asp-for="@Model.StatsVM[k].Category">
											<input type="hidden"  class="form-control" name="model.StatsVM[@(k)].isChecked" asp-for="@Model.StatsVM[k].isChecked">
											
									

								

									}
								}

								<div class="container3">
												<span class="label2">Statystyki dotyczące graczy</span>
												</div>

								@for(int j=0;j<@Model.PlayerVM2.Count;j++)
								{
									@if (@Model.PlayerVM2[j].StatsVM.Count() > 0)
									{


										<span2 style="color:green">@Model.PlayerVM2[j].PlayerName</span2>


										@for (int i = 0; i < @Model.PlayerVM2[j].StatsVM.Count; i += 2)
										{


											<div class="form-holder24">
												
													<span class="label">@Model.PlayerVM2[j].StatsVM[i].Statistic</span>
												
												
												
												
											</div>
											<div class="form-holder33">
											<input type="text"  class="form-control" name="model.PlayerVM2[@(j)].StatsVM[@(i)].Value" asp-for="@Model.PlayerVM2[j].StatsVM[i].Value">
											<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].StatsVM[@(i)].Statistic" asp-for="@Model.PlayerVM2[j].StatsVM[i].Statistic">
													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].StatsVM[@(i)].StatsId" asp-for="@Model.PlayerVM2[j].StatsVM[i].StatsId">
													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].PlayerName" asp-for="@Model.PlayerVM2[j].PlayerName">
													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].HoldId" asp-for="@Model.PlayerVM2[j].HoldId">

													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].isChecked" asp-for="@Model.PlayerVM2[j].isChecked">
											</div>



											@if (i + 1 < @Model.PlayerVM2[j].StatsVM.Count)
											{
												<div class="form-holder24">

													<span class="label">@Model.PlayerVM2[j].StatsVM[i+1].Statistic</span>
												</div>

												<div class="form-holder33">

													<input type="text" id="meh" class="form-control" name="model.PlayerVM2[@(j)].StatsVM[@(i+1)].Value" asp-for="@Model.PlayerVM2[j].StatsVM[i+1].Value">




													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].StatsVM[@(i+1)].Statistic" asp-for="@Model.PlayerVM2[j].StatsVM[i+1].Statistic">
												
													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].StatsVM[@(i+1)].StatsId" asp-for="@Model.PlayerVM2[j].StatsVM[i+1].StatsId">
													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].PlayerName" asp-for="@Model.PlayerVM2[j].PlayerName">
													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].HoldId" asp-for="@Model.PlayerVM2[j].HoldId">

													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].isChecked" asp-for="@Model.PlayerVM2[j].isChecked">


												</div>

											}

										}

										@if (@Model.PlayerVM2[j].StatsVM.Count() == 0)
										{

											@Html.HiddenFor(m=>m.PlayerVM2[(j)].PlayerName,new {Value=@Model.PlayerVM2[j].PlayerName})
											@Html.HiddenFor(m=>m.PlayerVM2[(j)].HoldId,new {Value=@Model.PlayerVM2[j].HoldId})
											@Html.HiddenFor(m=>m.PlayerVM2[(j)].isChecked,new {Value=@Model.PlayerVM2[j].isChecked})

										}



									}
									<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].PlayerName" asp-for="@Model.PlayerVM2[j].PlayerName">
													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].HoldId" asp-for="@Model.PlayerVM2[j].HoldId">

													<input type="hidden"  class="form-control" name="model.PlayerVM2[@(j)].isChecked" asp-for="@Model.PlayerVM2[j].isChecked">
								}
										

						<input type="hidden"  class="form-control" name="model.IdGame" asp-for="@Model.IdGame">				


						
		
						 <input type="hidden"  class="form-control" name="model.isChallange" asp-for="@Model.isChallange">
						  <input type="hidden"  class="form-control" name="model.Duration" asp-for="@Model.Duration">
						   <input type="hidden"  class="form-control" name="model.WhoWIn" asp-for="@Model.WhoWIn">
						    <input type="hidden"  class="form-control" name="model.StartDate" asp-for="@Model.StartDate">
							 <input type="hidden"  class="form-control" name="model.ChallangeId" asp-for="@Model.ChallangeId">
							  <input type="hidden"  class="form-control" name="model.IdWinCon" asp-for="@Model.IdWinCon">


								@if(@Model.ExpansionsVM!=null)
{
						@for(int i =0; i< @Model.ExpansionsVM.Count;i++)
        {
           
                
				 <input type="hidden"  class="form-control" name="model.ExpansionsVM[@(i)].ExpansionName" asp-for="@Model.ExpansionsVM[i].ExpansionName">
				 <input type="hidden"  class="form-control" name="model.ExpansionsVM[@(i)].HoldId" asp-for="@Model.ExpansionsVM[i].HoldId">
				  <input type="hidden"  class="form-control" name="model.ExpansionsVM[@(i)].isChecked" asp-for="@Model.ExpansionsVM[i].isChecked">
               
      
				 


        }
												
								}
						
									
									
						
								
								<div class="form-row">
							
						<button class="btn btn-success " style="position: relative; left: 50px;" type="submit" >Dodaj</button>
					
						
						</div>



							</div>
			            </section>
					
			     







					

		        	</div>
		        </form>
			</div>
		</div>
	</div>
	<script src="~/js/jquery-3.3.1.min.js"></script>
	<script src="~/js/jquery.steps.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<script src="~/js/main.js"></script>
</body>


</html>

 <script>
        $(function () {
            var checkList = document.getElementById('list');
            checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
                if (checkList.classList.contains('visible'))
                    checkList.classList.remove('visible');
                else
                    checkList.classList.add('visible');
            }
        })
    </script>


	


	<script type="text/javascript">
    $(document).ready(function () {
        $('#eh').multiselect({
            includeSelectAllOption: true
        });
        
    });

</script>