@using BoardStats.Data
@using BoardStats.Data.ViewModels
@model MatchVM

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wizard-v6</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/css/opensans-font.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="~/css/style_form.css"/>


	
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
 
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>




	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"  
          rel="stylesheet" type="text/css" />  

    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"  
          rel="stylesheet" type="text/css" />  
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"  
            type="text/javascript"></script>  
				<script type="text/javascript">
    $(document).ready(function () {
        $('#eh').multiselect({
            includeSelectAllOption: true
        });
        
    });

</script>



  
  <!-- Bootstrap -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap2.min.css" />



<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>


	<script type="text/javascript">
    $(function () {
        $('#eh2).multiselect({
            includeSelectAllOption: true
        });
        
    });
 
</script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />





  <!-- Font Awesome --> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="image/svg" href="~/images/shelf.jpg">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<script type="text/javascript" src="~/js/site.js"></script>
	

     <link rel="stylesheet" href="~/css/Style.css">


       <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.default-v2.min.css" />



</head>




<body>

	
      


<header>

                        <partial name="_NavbarPartial"/>

</header>

	<div class="container">
		
		<div class="wizard-v6-content">
			<div class="wizard-form">
		        <form class="form-register" id="form-register" asp-controller="Matches" asp-action="AddMatch2" method="post">
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			            
			            <section>
			                <div class="inner">
			                	<div class="form-heading">
			                		<h3>Podstawowe informacje</h3>
			                		<span>1/3</span>
			                	</div>

						

								<div class="form-row">
									<div class="col-md-6m">
									<div class="form-holder22">
										<label class="form-row-inner">
											<span class="label">Match Date</span>
											<input type="text" style="position: relative; left: 10px;" id="datepicker" asp-for="StartDate" name="StartDate" placeholder="Match Date">
										
										</label>
									</div>
									</div>

									<div class="col-md-6m">
									<div class="form-holder22">
										<label class="form-row-inner">
											<span class="label">Game</span>
											<select asp-for="IdGame" name="IdGame" style="position: relative;left: 10px;"class="form-control" asp-items="@ViewBag.Games"></select>
											
										</label>
									</div>
									</div>


									                
</div>
<div class="form-row">
	<div class="col-md-6m">
									 <div id="list" class="dropdown-check-list" tabindex="100" asp-for="PlayerVM" name="PlayerVM">
							   
    <span class="anchor">Lista graczy</span>
    <ul class="items">
        @for(int i =0; i< @Model.PlayerVM.Count;i++)
        {
            <li>
                
				  @Html.CheckBoxFor(m => @Model.PlayerVM[i].isChecked)  @Model.PlayerVM[i].PlayerName
				
               @Html.HiddenFor(m => m.PlayerVM[i].PlayerName, new {Value= @Model.PlayerVM[i].PlayerName})

			    @Html.HiddenFor(m => m.PlayerVM[i].HoldId, new {Value= @Model.PlayerVM[i].HoldId})
               
				
            </li>



        }
		
    </ul>
</div>
</div>
<div class="col-md-6m">
												<div id="radioButtonDiv" >
   <p style="color:white"> Czy gra jest challangem? <p>
    <div>
        @Html.RadioButtonFor(model => model.isChallange, true, new { Value= @Model.isChallange})  <p style="color:white"> Tak <p>
        @Html.RadioButtonFor(model => model.isChallange, false, new { Value= @Model.isChallange}) <p style="color:white"> Nie <p>
    </div>
</div>
</div>
</div>
									
								

												

									
									
						
								
								<div class="form-row">
							
						<button class="btn btn-success " style="position: relative; left: 50px;" type="submit" >Dalej</button>
					
						
						</div>



							</div>
			            </section>
					
			     







					

		        	</div>
		        </form>
			</div>
		</div>
	</div>
	<script src="~/js/jquery-3.3.1.min.js"></script>
	<script src="~/js/jquery.steps.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<script src="~/js/main.js"></script>
</body>


</html>

 <script>
        $(function () {
            var checkList = document.getElementById('list');
            checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
                if (checkList.classList.contains('visible'))
                    checkList.classList.remove('visible');
                else
                    checkList.classList.add('visible');
            }
        })
    </script>


	


	<script type="text/javascript">
    $(document).ready(function () {
        $('#eh').multiselect({
            includeSelectAllOption: true
        });
        
    });

</script>