
@model IEnumerable<Boardgames>


   
<head>

     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap2.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />



  <!-- Font Awesome --> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="image/svg" href="~/images/shelf.jpg">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<script type="text/javascript" src="~/js/site.js"></script>
	

     <link rel="stylesheet" href="~/css/Style.css">


       <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.default-v2.min.css" />

</head>

<body>

      


<header>

                        <partial name="_NavbarPartial"/>

</header>

 

<div class="container" >

    
  <div class="row">
       
      @foreach (var item in Model)
            {
                
                    <div class="col-sm-3" >
                        
                        <div class="card" type ="button" data-toggle="ajax-modal" data-target="#Boardgames" data-url="@Url.Action("PopUpWindow", "Games", new {Id=@item.IdGame})">


                          


                            <div class="card-img">
                                <img class="img-responsive" src=@item.ImageUrl>

                            </div>

                            <div class="card-content">
                                <p>@item.Description</p>

                                
                            </div>

                            <div class="card-action">
                                
                                <row>
                                   <div class="col-sm-4">
                                <i class="bi bi-star"></i> <span>@item.BggRate</span>
                            </div>


                             <div class="col-sm-4">
                                <i class="bi bi-person"></i>  <span>@item.MinPlayers-@item.MaxPlayers </span>
                                </div>
                                
                                 <div class="col-sm-4">
                                <i class="bi bi-hourglass"></i>  <span>@item.PlayingTime</span>
                                </div>


                               </row>
                           
                         


                            </div>
                        </div>
                      
                    </div>


                    
                    @if(item.OrderNumber%4==0 || item.OrderNumber==Model.Count())                {
                    
                       <img class="img-mine" src="~/images/shelf.jpg">
                
            }
            }

            




<div style="position: fixed; right: 25px; bottom: 60px;" class="text-white">
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("AddGameBgg", "Games", new { id = "1" })'">
    <i class="bi bi-plus-circle"></i> Add New </button>
</div>


  </div>

</div>
<div class="plHolder" id="PlaceHolder"></div>

</body>


 


@section Scripts{

   
      <script type="text/javascript">
          function alaMaKota(element){
              var=1+1;
          }
          </script>
 


}
          
    